body {
    color: white;
    font-family: inherit;
    
    margin: 0;
    background-color: #1c1c1c;
}

/* Login, registration and family creation section
------------------------------------------------------------ */
.main-box {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    /* along the main axis (column) */
}

.main-title {
    font-size: calc(5vw + 5vh);

    margin: calc(0.2vw + 0.2vh);
}

.main-input {
    color: white;
    font-family: inherit;
    font-size: calc(0.8vw + 0.8vh);
    
    width: 20vw;                    /* vw : viewport width */
    height: 5vh;                    /* vh : viewport height */
    margin: calc(0.2vw + 0.2vh);
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 15px;
    background-color: #474547;
}