body {
    color: white;
    font-family: inherit;
    background-color: #1c1c1c;
    
    margin: 0;
}


button {
    color: white;
    font-family: inherit;
    background-color: #474547;

    width: 15vw;
    height: 7vh;
    margin: 10px;                   /* space around the element */
    font-size: calc(1vw + 1vh);
    border-radius: 15px;

    min-width: 40px;
    min-height: 30px;
}


.main-box {
    height: 100vh;               /* vh : viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    /* along the main axis (column) */
}


.main-title {
    font-size: calc(6vw + 6vh);
}